/* Styles globaux */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}

nav {
  background-color: #4CAF50; /* Couleur verte */
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Sections */
.section {
  padding: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Liste des tournois */
#tournament-list {
  margin: 20px 0;
}

#tournament-list li {
  padding: 10px;
  border: 1px solid #ddd;
  margin: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

#tournament-list li:hover {
  background-color: #f1f1f1;
}

/* Détails du tournoi */
#tournament-details {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 5px;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

  